body{
    background: black;
}
.whiteBox{
    height: 1000px;
    width: 50%;
    background: white;
    margin: auto;
    margin-bottom: 35px;
}
.topLeft{
    padding: 15px;
    padding-top: 25px;
}

.topLeft, .text, .name{
    position: absolute;
    top: 0;
}
.text, .name{
    margin-left: 110px;
}
.text{
    margin-top: 10px;
}

.name{
    margin-top: 45px;
}
.topRight{
    float: right;
    margin-right: 20px;
    margin-top: 35px;
}
.image{
    padding-top: 130px;
}
span{
    float: right;
}
.likes, .post{
    margin-left: 20px;
    margin-right: 20px;
}

.iconBox{
    margin-top: 10px;
}

p{
    font-size: 20px;
}